<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.or.board.board_test.mapper.BoardMapper">
  	<resultMap type="kr.or.board.board_test.vo.Board" id="boardResultMap">
  		<result property="bCode" column="b_code"/>
  		<result property="bCate" column="b_cate"/>
  		<result property="bTitle" column="b_title"/>
  		<result property="bContent" column="b_content"/>
  		<result property="bPw" column="b_pw"/>
  		<result property="bNick" column="b_nick"/>
  		<result property="bFileName" column="b_file_name"/>
  		<result property="bFileDir" column="b_file_dir"/>
  		<result property="bDate" column="b_date"/>
  		<result property="bView" column="b_view"/>
  		<result property="bRecom" column="b_recom"/>
  	</resultMap>
  
  	<select id="getBoardList" resultMap="boardResultMap">
  		<if test="pageNum == null and listNum == null">
  			SELECT * FROM board order BY board.b_date DESC LIMIT 0, 20
  		</if>
  		<if test="pageNum != null or listNum != null">
  			SELECT * FROM board order BY board.b_date DESC LIMIT 0, ${listNum}
  		</if>
  	</select>
  	
  	<select id="getBoardContent" parameterType="String" resultMap="boardResultMap">
  		SELECT * FROM board WHERE b_Code = #{bCode}
  	</select>
  	
  	<delete id="delContent" parameterType="String">
  		DELETE FROM board WHERE b_code = #{bCode}
  	</delete>
  	
  	<insert id="contentWrite">
  		<selectKey keyProperty="bCode" resultType="String" order="BEFORE">
  			SELECT 
				CONCAT('b-',DATE_FORMAT(CURDATE(), '%y%m%d'),
					(IF(DATE_FORMAT(CURDATE(),'%y%m%d') > LEFT(SUBSTRING_INDEX(MAX(b.b_code), '-', -1),6) 
					, '00001' 
					,LPAD(RIGHT(MAX(b.b_code),5)+1,5,'0'))))
			FROM 
				board AS b
  		</selectKey>
  		INSERT INTO board
			(b_code, b_cate, b_title, b_content, b_pw, b_nick,b_file_name, b_file_dir, b_date, b_view, b_recom)
		VALUES (#{bCode}, #{bCate}, #{bTitle}, #{bContent}, #{bPw}, #{bNick}, #{bFileName}, #{bFileDir}, NOW(), 0, 0)
  	</insert>
  	
  	
  </mapper>