<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 쓰기 페이지</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:inline="javascript">
	$(document).ready(function() {
		var bCode = [[${content.bCode}]];
		
		$('#conDel').click(function(){
			var request = $.ajax({
				url : "/contentDel",
				method : "POST",
				data : {
					bCode : bCode
				},
				dataType : "text"
			});
		

			request.done(function(data) {
				alert(data);
				location.href = '/boardList';
			});

			request.fail(function(jqXHR, textStatus) {
				alert("Request failed: " + textStatus);
			});
		})
	})
</script>
<style>
td {text-align: center;}

button {
	width : 100px;
	height : 50px;
	font-size: 17px;
}

a {text-decoration: none;}

#divTop {
	text-align : center;
	font-size: 40px;
}

#divHead {
	background-color : yellow;
	width: 1000px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -500px;
	margin-top: -100px;
}
#divContent {
	background-color : lime;
	height: 500px;
}

</style>
</head>
<body>
	<div id="divTop">
		게시글 <br>
	</div>
	<div id="divHead">
		<div>
			<a th:href="@{/boardList}" style="font-size: 20px;">게시판으로 이동</a><!-- 이거는 게시판의 맨 처음으로 갈것. -->
		</div>
			<div>
				<h3 th:text="|[${content.bCate}] ${content.bTitle}|"></h3>
			</div>
		<div>
			<div style="float: left">
				<span th:text="${content.bNick}"></span> | <span th:text = "${content.bDate}"></span> 
			</div>
			<div style="float: right">
				<span th:text="|조회  ${content.bView}|"></span> | <span th:text = "|추천 ${content.bRecom}|"></span>
			</div>
		</div>
		<br>
		<hr>
		<br>
		
		<div id="divContent">
			<p th:text="${content.bContent}"></p>
			<img th:src="|/images/${content.bFileName}|" style="width: 50%; height: 100%;">
		</div>
		<div id="upload">
			첨부된 파일 : &ensp; 
				<a th:href="|/images/${content.bFileName}|" download><span th:text="${content.bFileName}"></span></a>
		</div>
		<div style="margin-top: 5px;">
			<div style="float: left;">
				<button onclick="location.href='/boardList';">전체글</button> <!-- 이거는 누른 콘텐츠가 있는 보드 리스트로 가기 -->
			</div>
			<div style="float: right;">
				<button>수정</button>
				<button id="conDel">삭제</button>
				<button onclick="location.href='/boardWirte';">글쓰기</button>
			</div>
		</div>
	<div style="height: 200px;" ex="footer자리"></div>
	</div>
		
</body>
</html>