<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>
td {
	text-align: center;
}

#divTop {
	text-align : center;
	font-size: 40px;
}

#divTable {
	width: 1000px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -500px;
	margin-top: -100px;
}

#divTable td {
	width: 100px;
}

#divTable #title {
	width: 400px;
}

#nickname{font-size: 25px; color: blue;}
</style>

<title>게시판</title>
</head>
<body>
	<div id="divTop">
		게시판 만들기 <br>
		<span id="nickname" th:text="|${session.SNICK}님이 로그인중|"></span>
	</div>

	<div id="divTable">
			<div style="text-align: right;">
				<select>
					<option value="10">10개</option>
					<option value="20">20개</option>
					<option value="30">30개</option>
				</select>
			</div>
		<table border="2">
			<tr>
				<td>번호</td>
				<td>카테고리</td>
				<td>제목</td>
				<td>작성자</td>
				<td>등록일</td>
				<td>조회수</td>
				<td>추천수</td>
			</tr>
			<tr th:each="b, count : ${board}">
				<td th:text="${count.count}"></td>
				<td th:text="${b.bCate}"></td>
				<td id="title"><a th:href="@{/boardContent(bCode=${b.bCode})}">
						<span th:text="${b.bTitle}"></span>
				</a></td>
				<td th:text="${b.bNick}"></td>
				<td th:text="${b.bDate}"></td>
				<td th:text="${b.bView}"></td>
				<td th:text="${b.bRecom}"></td>
			</tr>
		</table>
		<br>
		
		<div>
			<div style="width: 140px;">
				<button>글쓰기</button>
				<button onclick="location.href = '/';">돌아가기</button>
			</div>
			
		</div>
		
		<br>
		<div>
			이곳은 페이징이 들어갈거예요~
		</div>
	</div>
	
</body>
</html>