<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$('#loginSubmit').click(function() {
			var id = $('#userId').val();
			var pw = $('#userPw').val();

			if ($('#userId').val() == '') {
				alert('아이디를 입력해주세요.')
				return false;
			}
			if ($('#userPw').val() == '') {
				alert('비밀번호를 입력해주세요.')
				return false;
			}

			var request = $.ajax({
				url : "/duplicateCheck",
				method : "POST",
				data : {
					uId : id,
					uPw : pw
				},
				dataType : "text"
			});

			request.done(function(data) {
				console.log(data)
				if (data == 'true') {
					$('#loginForm').submit();
				} else if (data == 'false') {
					alert('아이디 비밀번호가 일치하지 않습니다.');
					location.reload();
				}
			});

			request.fail(function(jqXHR, textStatus) {
				alert("Request failed: " + textStatus);
			});

		})

	})
</script>
<title>로그인 페이지</title>
</head>
<body>
	로그인 페이지
	<br>
	<form id="loginForm" th:action="@{/userLogin}" method="post">
		아이디 : <input type="text" id="userId" name="uId"> &ensp; &ensp;
		<br> 패스워드 : <input type="password" id="userPw" name="uPw"><br>
		<button type="button" id="loginSubmit">로그인</button>
		&ensp;
		<button type="button" onclick="location.href = '/signUp';">회원가입</button>
		<br> <br> <br>
	</form>
	<button onclick="history.go(-1)">돌아가기</button>
</body>
</html>